@font-face {
    font-family: 'roboto-thin';
    src: url('fonts/roboto-thin-webfont.eot');
    src: url('fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-thin-webfont.woff') format('woff'),
    url('fonts/roboto-thin-webfont.ttf') format('truetype'),
    url('fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto-light';
    src: url('fonts/roboto-light-webfont.eot');
    src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-light-webfont.woff') format('woff'),
    url('fonts/roboto-light-webfont.ttf') format('truetype'),
    url('fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto-regular';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-regular-webfont.woff') format('woff'),
    url('fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body { font-family: 'roboto-regular', sans-serif }

*:focus { outline: none }

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix { display: block }

* html .clearfix { height: 1px }

#files { padding-bottom: 20px }
input#file-name { display: block }
button#submit { margin-top: 15px }

.file-name {
    width: 400px;
    padding: 5px 10px;
    margin: 5px 0;
    background: #ddd;
}

.file-name:hover {
    cursor: pointer;
    background: #eee;
}

.converted { background: #3ac111 }
.converted:hover { background: none }

/* colours */
.red { color: #ea324d }
.red-bg { background-color: #ea324d }
.turquoise { color: #43ccb5 }
.turquoise-bg { background-color: #43ccb5 }
.orange { color: #df614b }
.orange-bg { background-color: #df614b }
.lightgrey { color: #868b98 }
.lightgrey-bg { background-color: #868b98 }
.medgrey { color: #3b3f4c }
.medgrey-bg { background-color: #3b3f4c }
.darkgrey { color: #292d39 }
.darkgrey-bg { background-color: #292d39 }
.blue { color: #46a5cd }
.blue-bg { background-color: #46a5cd }
.snow { color: #f9f9f9 }
.snow-bg { background-color: #f9f9f9 }
.offwhite { color: #edeff2 }
.offwhite-bg { background-color: #edeff2 }

/* popup */
#popup-container {
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
}

#popup-center {
    left: 50%;
    top: 50%;
    margin: -275px 0 0 -210px;
    position: absolute;
    width: 420px;
    min-height: 550px;
    z-index: 101;
}

#popup-content {
    background: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.3);
    float: left;
    width: 420px;
    max-height: 550px;
    overflow: hidden;
    z-index: 101;
}

#popup-content .half {
    width: 100%;
    height: 275px;
}

#popup-content .subtitle {
    margin-top: -100px;
    font-family: 'roboto-light', sans-serif;
    line-height: 40px;
}

#popup-content #close {
    right: 10px;
    top: 3px;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    color: #edeff2;
    position: absolute;
    cursor: pointer;
}

#popup-content #close:hover { color: #df614b }

#popup-content .bottom {
    width: 70%;
    margin: 20px auto 0 auto;
    text-align: center;
    background-image: url('../media/upload-animation.gif');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

#popup-content .top {
    text-align: center;
    line-height: 240px;
}

/* font sizes */
.xl-font { font-size: 35px }
.l-font { font-size: 30px }
.m-font { font-size: 20px }
.s-font { font-size: 12px }

#container {
    width: 960px;
    margin: 0 auto;
}




























